In [11]:
#python arrays
cars = ['Tesla', 'Audi', 'Jeep','Benz']
print(cars)
print(len(cars))
for x in cars:
    print (x)
    
#is Benz in the list
has_Benz = 'Benz' in cars
print(has_Benz)

#is Toyota in list?
has_Toyota = 'Toyota' in cars
print(has_Toyota)

car1 = 'Tesla'
car2 = 'Audi'
car3 = 'Jeep'

['Tesla', 'Audi', 'Jeep', 'Benz']
4
Tesla
Audi
Jeep
Benz
True
False

In [15]:
#extend method combines two arrays together
# Create two arrays of Names.
list1 = ["Zara", "Lupe", "Hong", "Alberto", "Jake"]
list2 = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]

#add list2 to list 1
list1.extend(list2)

#print new list
print(list1)

['Zara', 'Lupe', 'Hong', 'Alberto', 'Jake', 'Huey', 'Dewey', 'Louie', 'Nader', 'Bubba']

In [20]:
#Removing array items
#creating an array of strings
letters = ["A","B","C","D","E"]

#remove letter C from array
letters.remove("C")

#print new array
print (letters)

['A', 'B', 'D', 'E']

In [21]:
#using pop removes element at specified position 
#creating an array of strings
letters = ["A","B","C","D","E"]

#remove the first item
letters.pop(0)
print(letters)

#remove last item
letters.pop()
print(letters)

#using clear method
letters.clear()
print(letters)

['B', 'C', 'D', 'E']
['B', 'C', 'D']
[]

In [27]:
#Python iterators
mytuple = ('Tesla','Audi','Jeep')
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

Tesla
Audi
Jeep

In [28]:
#iterate through string
myname = "Peter"
my_iter = iter(myname)

print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

P
e
t
e
r

In [29]:
#looping through characters of a string
mystr = "Peter Kyeyune"
for x in mystr:
    print(x)

P
e
t
e
r

K
y
e
y
u
n
e

In [30]:
#looping through an iterator (tuple)
club = ("Arsenal","Chelsea","Liverpool","Nottingham Forest")

for team in club:
    print(team)

Arsenal
Chelsea
Liverpool
Nottingham Forest

In [2]:
#input() method
username = input("Enter username:\n")
print ("Hello "+ username)

Enter username:
peter
Hello peter